:root {
  --mainmenu-background: #262626;
  --mainmenu-tab-foreground: #FFFFFF;
  --mainmenu-tab-background-hover: #3d3d3d;
  --mainmenu-tab-background-active: #383838;
  --mainmenu-tab-active-marker: #FFFFFF;
  --mainmenu-tab-focus: #FFFFFF; 
  --submenu-background: #262626;
  --submenu-header-foreground: #FFFFFF;
  --submenu-tab-foreground: #e3e3e3;
  --submenu-tab-foreground-hover: #c9c9c9;
  --submenu-tab-foreground-active: #FFFFFF;
  --submenu-tab-active-marker: #008542;
  --page-background: #323232;
  --page-foreground: #FFFFFF;
  --page-horizontal-line: #494949;
  --patchnotecard-background: #0F0F0F;
  --patchnotecard-background-hover: #262626;
  --patchnotecard-background-active: #131313;
  --patchnotecard-title: #FFFFFF;
  --patchnote-h1-foreground: #FFFFFF;
  --patchnote-h2-foreground: #FFFFFF;
  --patchnote-h3-foreground: #FFFFFF;
  --patchnote-h4-foreground: #FFFFFF;
  --patchnote-h5-foreground: #FFFFFF;
  --patchnote-p-foreground: #FFFFFF;
  --patchnote-li-foreground: #FFFFFF;
  --patchnote-a-foreground: #FFFFFF;
  --loadingspinner-background: #FFFFFF;
  --play-banner-shadow: #000000;
  --playbutton-foreground: #FFFFFF;
  --playbutton-foreground-disabled: #AAA;
  --playbutton-border: black;
  --playbutton-border-active: white;
  --playbutton-top: #27CE40;
  --playbutton-top-active: #064D2A;
  --playbutton-top-disabled: #1B902D;
  --playbutton-side: #0C6E3D;
  --playbutton-bottom: #064D2A;
  --playbutton-bottom-active: #0AA618;
  --playbutton-bottom-disabled: #04361D;
  --playbutton-gradient-top: #009147;
  --playbutton-gradient-top-hover: #0A8F4C;
  --playbutton-gradient-top-active: #008542;
  --playbutton-gradient-top-focus: #0A9B51;
  --playbutton-gradient-top-disabled: #006532;
  --playbutton-gradient-bottom: #008542;
  --playbutton-gradient-bottom-hover: #0A9B51;
  --playbutton-gradient-bottom-active: #009147;
  --playbutton-gradient-bottom-focus: #0A8F4C;
  --playbutton-gradient-bottom-disabled: #005D2E;
  --checkbox-background-on: #008542;
  --checkbox-background-hover-on: #0DD166;
  --modal-background: #303030;
  --modal-title-foreground: #FFFFFF;
  --modal-horizontal-line: #373737;
  --scrollbar-background: #262626;
  --scrollbar-thumb-background: #4d4d4d;
  --scrollbar-thumb-background-hover: #595959;
  --textbox-background: #131313;
  --textbox-background-hover: #0e0e0e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1f1f1f;
  -moz-user-select: none;
  -webkit-user-select: none;	
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--mainmenu-background);
}

.main-app {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  height: 100%;
  overflow-x: hidden;
}

.routes {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar { 
  width: 8px;
  background: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-background-hover);
}

.base-route {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  background: var(--page-background);
  overflow: hidden;
  color: var(--page-foreground);
}

.sub-page {
  top: 83px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
}

.line-h {
  width: 100%;
  background: var(--page-horizontal-line);
  height: 1px;
  min-height: 1px;
}

a {
  -webkit-user-drag: none;
}

.notifs-panel {
  position: absolute;
  top: 24px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 0.3rem 0;
  overflow: hidden;
  padding: 0 0 0.3rem;
}

.notif-item {
  width: 300px;
  min-width: fit-content;
  background: #DDD;
  border-radius: 2px;
  display: flex;
  transform: translateX(100%);
  animation: meh 250ms ease-in-out forwards;
  box-shadow: 2px 0px 8px #00000099;

  img {
    filter: brightness(20%);
  }
  
  .notif-text {
    width: 90%;
    padding: 0.6rem 0.7rem;
    font-size: 0.9rem;
    font-family: 'Noto Sans';
  }

  .notif-close {
    background: none;
    border: none;
    display: flex;
    width: 30px;
    place-content: center;
    place-items: center;
    cursor: pointer;
    transition: background 150ms ease;

    &:hover {
      background: #00000022;
    }

    img {
      width: 11px;
    }
  }
  
  &.error {
    background: rgb(255, 85, 63);
    color: white;
    
    img {
      filter: none;
    }
  }

  &.success {
    background: rgb(37, 189, 70);
    color: white;
    
    img {
      filter: none;
    }
  }
}

@keyframes meh {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* slideTransition.scss */

.right-to-left-enter {
  transform: translateX(35%);
  opacity: 0;
  transition:all 0.3s ease-in;
}
.right-to-left-enter-active {
  transform: translateX(0);
  opacity: 1;
}

.right-to-left-exit {
  transform: translateX(0);
  opacity: 0;
  transition:all 0s ease;
}
.right-to-left-exit-active {
  transform: translateX(-35%);
  opacity: 0;
}

.left-to-right-enter {
  transform: translateX(-35%);
  opacity: 0;
  transition:all 0.3s ease;
}
.left-to-right-enter-active {
  transform: translateX(0);
  opacity: 1;
}      

.left-to-right-exit {
  transform: translateX(0);
  opacity: 1;
}
.left-to-right-exit-active {
  transform: translateX(35%);
  opacity: 0;
  transition:all 0.3s ease;
}